.FolderParent{
  position: relative;
  top: 0;
  left: 0;
  margin: 5px;
  
   float: center;
 
   display: inline-block;
  
}

.FolderImage1{
  position: relative;
  top:0;
  left:0;
  width: 300;
}

.FolderImage2{
  position: absolute;
  right: 15px;
  bottom: 50px;
  width: 125px;
}

.Photo{
  width: 75%;
  float: center;
}

.PhotoContainer{
  margin: 5px;
  display:inline-block;
  width:45%;
}

.Photo:hover {
  border: 1px solid #777
}

.Photo:active {
  border: none;
}


.Folder{
  margin: 5px;
 
  float: center;

  display: inline-block;
}

.Folder:hover {
  border: 1px solid #777
}

.Folder:active {
  border: none;
}

.App {
  padding-top: 50px;
}


@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css');